<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BukaToko</title>
        <link rel="stylesheet" href="themes/Sheryl.min.css" />
        <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script src="javascripts/register.js"></script>
  </head>
<body>
  <div data-role="page" data-theme="a">

      <header data-role="header">
          <h1>Login</h1>
        </header>


      <form id="f_register" data-ajax="false">
             <label for="name">Name </label>
            <input for="name" name="name" id="name" value="" required>
            <label for="Phone Number">Phone Number</label>
            <input for="phoneNumber" name="phoneNumber" id="phoneNumber" value="" required>
             <label for="email">E-mail</label>
             <input type="email" name="email" id="email" value="" required>
             <label for="password">Password</label>
             <input type="password"  name="password" id="password" value="" required>

            <input type="submit" value="Register" data-theme="a">
      </form>

  </div>
  
</body>
</html>
